{% extends 'base.html.twig' %}
{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', 'form/form_errors.html.twig'] %}

{% block title %}{{ 'title.advert_edit'|trans }} - {{ advert.topic }}{% endblock %}

{% block body %}
    <div class="col-md-12">
        <h1>{{ 'title.advert_edit'|trans }} - {{ advert.topic }}</h1>
    </div>
    <div class="col-md-12">
        {{ form_start(form, { method: 'post', action: url('advert_edit', {'id': advert.id}) }) }}
        {{ form_widget(form) }}
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="{{ 'action.save'|trans }}" class="btn btn-success" />
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}